LISTEN_PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=devchat
DB_USER=root
DB_PASS=Admin@123

DB_LOGGING=false

ENABLE_SWAGGER=true

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=86400
JWT_ISSUER=localhost:3000

JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=604800

APP_DOMAIN=localhost

GOOGLE_CLIENT_ID=your_google_client_id

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

PKCE_AUTH_CODE_JWT_SECRET=your_pkce_auth_code_jwt_secret
PKCE_AUTH_CODE_JWT_EXPIRES_IN=600

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=youremail@gmail.com
EMAIL_PASS=your_app_password
FRONTEND_VERIFY_URL=http://localhost:5173/auth/verify
EMAIL_FROM="DevChat <no-reply@devchat.com>"

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

USE_DOCKER_DIND=false
DOCKER_DIND_HOST=localhost
DOCKER_DIND_PORT=2375

OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4
GOOGLE_API_KEY=your_google_api_key
GOOGLE_MODEL=gemini-2.5-flash

VNP_TMNCODE=tmn_code_here
VNP_HASH_SECRET=vnp_hash_secret_here
VNP_RETURN_URL=your_website_return_url_here
VNP_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction